<app-nav-bar></app-nav-bar>

<div class="top-padding container">
  <div class="container-fluid page-variables-wrapper full-page-wrapper auth-page">
    <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
      <div class="row w-100">

        <div class="col-lg-4 mx-auto">
          <div class="auto-form-wrapper">
            <h1>
              Sign in
            </h1>

            <button (click)="signInWithGoogle()">Sign in with Google</button>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>

            <img src="{{user.photoUrl}}}">
            <div>
              <h4>{{ user.name }}</h4>
              <p>{{ user.email }}</p>
            </div>

          </div>
          <p class="footer-text text-center">Copyright © 2019.<br><br>All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
