<div class="container m-5">
  <div>
    <img src="{{ user.photoUrl }}">
    <div>
      <h4>{{ user.name }}</h4>
      <p>{{ user.email }}</p>
    </div>
    <div *ngIf="!isGenerated">
      <form>
        <div class="form-group">
          <label for="facilitatorName">Facilitator Name</label>
          <input type="text" [(ngModel)]="sessionDetail.facilitatorName" name="facilitatorName" class="form-control" id="facilitatorName" placeholder="Enter your Name">
        </div>
        <div class="form-group">
          <label for="sessionName">Session Name</label>
          <input [(ngModel)]="sessionDetail.sessionName" type="text" name="facilitatorName" class="form-control" id="sessionName" placeholder="Enter the Session's Name">
        </div>
        <div class="form-group">
          <label for="qrCodeExpiration">Expiration Date</label>
          <input type="text" [(ngModel)]="sessionDetail.qrCodeExpiration" class="form-control" id="qrCodeExpiration" name="qrCodeExpiration" placeholder="Enter Expiration Date">
        </div>
        <p>{{sessionDetail.qrCodeId}}</p>

        <button type="button" (click)="generateQRCode()" class="btn btn-primary">Generate QR Code</button>
      </form>
    </div>
    <div *ngIf="isGenerated">
      <div >
        <div class="row" >
          <div  class="col" ></div>
          <div  class="col" >
            <countdown [config]="{leftTime: timeLeft}"
                       (start)="onStart()"
                       (finished)="onFinished()"
                       (notify)="onNotify($event)">Check-in QR Code expires in: $!m!:$!s!</countdown>
            <br>
            <div class="row">
              <button (click)="onPause()" class="btn btn-link btn-sm col">pause</button>
              <button (click)="onResume()" class="btn btn-link btn-sm col">resume</button>
              <button (click)="onStop()" class="btn btn-link btn-sm col">stop</button>
              <button (click)="onRestart()" class="btn btn-link btn-sm col">restart</button>
              <br>
            </div>
          </div>
          <div  class="col" ></div>
        </div>
        <qrcode class="d-flex justify-content-center" [qrdata]="sessionDetail.qrCodeId" [size]="400" [level]="'M'"></qrcode>
        <button (click)="exportToSpreadsheet()">Export Checkins</button>
      </div>
    </div>
  </div>
</div>
